! URxvt Settings
URxvt.termName: rxvt-256color
URxvt.iso14755: False
URxvt.saveLines: 9999
URxvt.scrollstyle: plain
URxvt.scrollBar_right: True
URxvt*scrollWithBuffer: True
URxvt*scrollTtyKeypress: True
URxvt*secondaryScreen: 1
URxvt*secondaryScroll: 0
URxvt.font: xft:hack:regular:size=10
URxvt.boldFont: xft:hack:bold:size=10
URxvt.italicFont: xft:hack:italic:size=10
URxvt.boldItalicFont: xft:hack:bolditalic:size=10
URxvt.reverseVideo: True
URxvt.perl-ext-common: default,clipboard,matcher,tabbed
! Low contrast theme, based on Zenburn <http://slinky.imukuppi.org/zenburnpage/>
! ! Modified from <https://gist.github.com/564084>
URxvt.foreground:       #0c0c0c
URxvt.color0:           #3f3f3f
URxvt.color1:           #705050
URxvt.color2:           #00b45a
URxvt.color3:           #dfcf8f
URxvt.color4:           #506070
URxvt.color5:           #dc8cc3
URxvt.color6:           #8cd0d3
URxvt.color7:           #dcdccc
URxvt.color8:           #709080
URxvt.color9:           #cc5454
URxvt.color10:          #4d9f4d
URxvt.color11:          #f0dfaf
URxvt.color12:          #4186be
URxvt.color13:          #ec93d3
URxvt.color14:          #93e0e3
URxvt.color15:          #ffffff
